/*||||||||||||||||||||||||||||||||||||||||aaravstyle||||||||||||||||||||||||||||||||||||||||*/
#a {
 color: #ffffff;

 text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18,
  0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18;
 color: #ffffff;

}

#b {
 color: #ffffff;

 text-shadow: 0 -1px 4px #fff, 0 -2px 10px #ff0, 0 -10px 20px #ff8000,
  0 -18px 40px #f00;
 color: #ffffff;

}

#c {
 color: #131313;

 letter-spacing: 0.15em;
 text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474,
  -3px 6px 1px #787777, -4px 8px 1px #7b7a7a, -5px 10px 1px #7f7d7d,
  -6px 12px 1px #828181, -7px 14px 1px #868585, -8px 16px 1px #8b8a89,
  -9px 18px 1px #8f8e8d, -10px 20px 1px #949392, -11px 22px 1px #999897,
  -12px 24px 1px #9e9c9c, -13px 26px 1px #a3a1a1, -14px 28px 1px #a8a6a6,
  -15px 30px 1px #adabab, -16px 32px 1px #b2b1b0, -17px 34px 1px #b7b6b5,
  -18px 36px 1px #bcbbba, -19px 38px 1px #c1bfbf, -20px 40px 1px #c6c4c4,
  -21px 42px 1px #cbc9c8, -22px 44px 1px #cfcdcd, -23px 46px 1px #d4d2d1,
  -24px 48px 1px #d8d6d5, -25px 50px 1px #dbdad9, -26px 52px 1px #dfdddc,
  -27px 54px 1px #e2e0df, -28px 56px 1px #e4e3e2;
 color: #131313;

}

#d {
 color: #444444;

 text-shadow: 1px 0px 1px #cccccc, 0px 1px 1px #eeeeee, 2px 1px 1px #cccccc,
  1px 2px 1px #eeeeee, 3px 2px 1px #cccccc, 2px 3px 1px #eeeeee,
  4px 3px 1px #cccccc, 3px 4px 1px #eeeeee, 5px 4px 1px #cccccc,
  4px 5px 1px #eeeeee, 6px 5px 1px #cccccc, 5px 6px 1px #eeeeee,
  7px 6px 1px #cccccc;
 color: #444444;

}

#e {
 color: #ffffff;

 text-shadow: 4px 3px 0 #7a7a7a;
 color: #ffffff;

}

#f {
 color: #ffffff;

 text-shadow: 0 0 10px #ffffff;
 color: #ffffff;

}

#g {
 color: #d9d9d9;

 text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1),
  1px 1px 1px rgba(0, 0, 0, 0.5);
 color: #d9d9d9;

}

#h {
 color: #333333;

 text-shadow: 2px 2px 0px #ffffff, 5px 4px 0px rgba(0, 0, 0, 0.15);
 color: #333333;

}

/*aaravstyle-codes:a,b,c,d,e,f,g,h !MoreComeingSoon! ;*/
